#hello {
	color: red;
}
.icon-onlyoffice-new-docx {
	background-image: url("../img/new-docx.svg");
}
.icon-onlyoffice-new-xlsx {
	background-image: url("../img/new-xlsx.svg");
}
.icon-onlyoffice-new-pptx {
	background-image: url("../img/new-pptx.svg");
}
.icon-onlyoffice-open,
.icon-onlyoffice-convert {
	background-image: url("../img/app-dark.svg");
}
.icon-fgft-confirmation {
	background-image: url("../img/confirmation-icon.svg");
}
.unconfirmed-files-section .actionButtons {
	margin: 5px 0 12px 0;
}